<!-- <div class="row">
  <div class="col-md-6 offset2">
    <div id='form-wrap'>
    <%# if flash[:errors] %>
    	<%# flash[:errors].each do |error| %>
    		<p class='text-error'><%= error %></p>
    	<%# end %>
    <%# end %>

    <%#= simple_form_for :session do |f| %>
    	<%# if flash[:error] %>
    		<p><%#= flash[:error] %></p>
    	<%# end %>
      <%#= f.input :email, label: 'Email' %>
      <%#= f.input :password, label: 'Password' %>
      <%#= f.submit 'Login', class: 'btn pull-right'%>
    <%# end %>
    </div>
  </div>
</div> -->