<div class="row">

	<table>
	<%#= @array.each do |x| %>
	<tr>
	<td><%#= x %></td>
	</tr>
	<%# end %>
	</table>

	<table>

		<% @crunchm.each do |key,value| %>
		<tr>
			<td><%= key %></td>
			<td><%= value %></td>
		</tr>
		<% end %>
	</table>

	
	<p>http://www.amazon.com/Samsung-Galaxy-Tab-7-Inch-Gold-Brown/dp/B00D02AG7C/ref=sr_1_3?s=electronics&ie=UTF8&qid=1386449781&sr=1-3&keywords=tablet+samsung</p>

	<p>http://www.amazon.com/Sony-Xperia-SGP311U1-10-1-Inch-Tablet/dp/B00CE590Z0/ref=sr_1_1?s=electronics&ie=UTF8&qid=1386450305&sr=1-1&keywords=tablet+sony</p>

</div>