<div class="row">
	<div class="col-md-6 offset3">	
		<%= simple_form_for(@comparison, defaults: { wrapper_html: {class: 'form-group'}, input_html: { class: 'form-control' } })  do |f| %>
		<!-- <div class="form-group"> -->
			<%= f.simple_fields_for :products do |ff| %>
				<%= ff.input :url, placeholder: 'Paste here a link to an Amazon product' %>
			<% end %>
			<%= f.button :submit, value: 'Crunchm' %>
		<%#= f.input :url, label: 'Enter a link to a product to compare', input_html: { class: 'input-xlarge' }  %>
		<!-- </div> -->
		<% end %>
	</div>
</div>