<!-- placeholder for all of user's comparisons -->
<% if user.comparisons.any? %>
	<% user.comparisons.each do |commp| %>
	  <p><%= 	comp.id %></p>
	<% end%>
<% end%>	

<!-- placeholder for user's profile -->