// Place all the styles related to the Comparisons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$navbar-default-bg: #A1C5C9;
@import 'bootstrap';