// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$navbar-default-bg: #A1C5C9;
@import 'bootstrap';
/* 
textarea {
	width: 400px;
	margin: 20px 300px;
	text-align: center;
}
input.button{
	width: 100px;
	margin: 0px 440px;
}
.container{
	margin: 0px auto;
	text-align: center;
}
*/